################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpConcepts/.vs/CSharpConcepts
/CSharpConcepts/bin/Debug/net8.0
/CSharpConcepts/obj
